<mat-spinner *ngIf="showSpinner"></mat-spinner>
<div
  *ngIf="!showSpinner"
  id="content"
  class="py-2 px-3 bg-light w-100"
  style="min-height: 100vh; margin-top: 40px"
>
  <!-- <i class="bi bi-arrow-return-left" "></i> -->
  <svg
    (click)="back()"
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-arrow-return-left mx-2"
    viewBox="0 0 16 16"
  >
    <path
      fill-rule="evenodd"
      d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"
    />
  </svg>
  <!-- <div class="pt-2 mt-2 d-flex justify-content-between">
    <div class="d-flex w-25">
      <h4 class="mx-2 my-2" style="color: #157af8; white-space: nowrap">
        {{ userName }}
      </h4>
    </div>
    <div></div>
  </div>

  <hr class="w-100 fs-6 text-muted" /> -->

  <section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card">
            <div
              class="rounded-top text-white d-flex flex-row"
              style="background-color: #000; height: 200px"
            >
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px">
                <img
                  [src]="userData.avatar"
                  alt="Generic placeholder image"
                  class="img-fluid img-thumbnail mt-4 mb-2"
                  style="width: 150px; z-index: 1"
                />
                <button
                  type="button"
                  data-mdb-button-init
                  data-mdb-ripple-init
                  class="btn btn-outline-dark"
                  data-mdb-ripple-color="dark"
                  style="z-index: 1"
                >
                  Edit profile
                </button>
              </div>
              <div class="ms-3" style="margin-top: 130px">
                <h5>{{ userData?.first_name }} {{ userData?.last_name }}</h5>
                <p>{{ userData?.email }}</p>
              </div>
            </div>
            <div class="p-4 text-black" style="background-color: #f8f9fa">
              <div class="d-flex justify-content-end text-center py-1">
                <div>
                  <p class="mb-1 h5">253</p>
                  <p class="small text-muted mb-0">Photos</p>
                </div>
                <div class="px-3">
                  <p class="mb-1 h5">1026</p>
                  <p class="small text-muted mb-0">Followers</p>
                </div>
                <div>
                  <p class="mb-1 h5">478</p>
                  <p class="small text-muted mb-0">Following</p>
                </div>
              </div>
            </div>
            <div class="card-body p-4 text-black">
              <div class="mb-5">
                <p class="lead fw-normal mb-1">About</p>
                <div class="p-4" style="background-color: #f8f9fa">
                  <p class="font-italic mb-1">{{ userSupport?.text }}</p>
                  <p class="font-italic mb-1">Lives in New York</p>
                  <p class="font-italic mb-0">{{ userSupport?.url }}</p>
                </div>
              </div>
              <div
                class="d-flex justify-content-between align-items-center mb-4"
              >
                <p class="lead fw-normal mb-0">Recent photos</p>
                <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
              </div>
              <div class="row g-2">
                <div class="col mb-2">
                  <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp"
                    alt="image 1"
                    class="w-100 rounded-3"
                  />
                </div>
                <div class="col mb-2">
                  <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp"
                    alt="image 1"
                    class="w-100 rounded-3"
                  />
                </div>
              </div>
              <div class="row g-2">
                <div class="col">
                  <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp"
                    alt="image 1"
                    class="w-100 rounded-3"
                  />
                </div>
                <div class="col">
                  <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp"
                    alt="image 1"
                    class="w-100 rounded-3"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
