<aside style="background-color: #f5f5f5" id="sidenav" aria-label="Sidebar">
  <div
    class="py-2 px-4 text-dark"
    style="overflow: auto; scroll-behavior: smooth"
  >
    <ul class="list-unstyled d-flex">
      <li class="pb-2 mx-4 text-center text-dark">
        <a
          routerLink="/dashboard/users-list"
          routerLinkActive="active-link"
          class="d-flex flex-column flex-lg-row items-center p-1 text-dark text-decoration-none fs-5 cursor-pointer navbar-item text-center"
        >
          <span class="mx-2"> Users</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
